.blog {
  .pagination {
    text-align: center;
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;

    li {
      font-size: 20px;
      padding: 8px;
      margin: 4px 10px;
      border: 1px solid $blue-400;
      border-radius: 4px;

      .current {
        color: $green-500;
        font-weight: 900;
      }
    }
  }
}